<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.Dao.OrderMapper">

	<insert id="insertOne" parameterType="order">
		<selectKey keyProperty="maxId" resultType="int" order="BEFORE"> 
					SELECT max(id)+1 FROM d_order 
		</selectKey> 
	insert into d_order(ID,NUM,START_DATE,SUM_PRICE,PAYWAY_ID,STATUS,USER_ID,RECEIVER_ID) 
	value( #{maxId},#{num},#{start_date},#{SUM_PRICE},#{payway.id},#{status},#{user.id},#{receiver.id}
	)
	</insert>
 
<!-- <insert id="insertUser" parameterType="user" >
	insert into d_user(Id,name,password,zip,address,phone,email)
	values(#{id},#{name},#{password},#{zip},#{address},#{phone},#{email})
</insert>

<update id="updateByAllInfo" parameterType="user">
update d_user  
set NAME=#{name},password=#{password},zip=#{zip},address=#{address},phone=#{phone},email=#{email}
where id =#{id}
</update>


<select id="selectMaxId" resultType="long">
	select max(id) from d_user
</select>

<select id="selectUserByName" resultType="user" parameterType="String">
	select * from d_user where name=#{name}
</select> -->



</mapper>