<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.Dao.PublishMapper">

	<select id="selectAllPulish" resultType="publish">
	select * from d_publish
	</select>


</mapper>